@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg1"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3> @ViewBag.Daypayments</h3>
                        <span class="widget-title1">New Payments <i class="fa fa-money" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        
           
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>@ViewBag.AppStudent</h3>
                        <span class="widget-title2">New Appliactions <i class="fa fa-user-o" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>

