
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <iframe  style="height:650px;width:1250px" src="https://app.powerbi.com/view?r=eyJrIjoiODYzYjgyMTYtOWY1Zi00OGE2LTkyNzEtMDMxZDhmNzRkOTI0IiwidCI6IjIyNjgyN2Q2LWE5ZDAtNDcwZC04YzE1LWIxNDZiMDE5MmQ1MSIsImMiOjh9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>
</div>
