@model InternetExplores.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "StudentApplication";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-wrapper">
    <div class="content">
        <form class="reg-form" method="post" asp-controller="Account" asp-action="Register">
            <div class="form-group">
                <div class="form-floating  mb-3">
                    <input type="text" asp-for="StudentName" class="form-control" id="floatingPassword" placeholder="Name" required>
                    <label for="floatingPassword" asp-for="StudentName">Name</label>
                    <span asp-validation-for="StudentName" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="text" asp-for="StudentSurname" class="form-control" id="floatingPassword" placeholder="Surname" required>
                    <label for="floatingPassword" asp-for="StudentSurname">Surname</label>
                    <span asp-validation-for="StudentSurname" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="password" asp-for="StudetntIdNo" class="form-control" id="floatingPassword" placeholder="Identity No" required>
                    <label for="floatingPassword" asp-for="StudetntIdNo">Identity No</label>
                    <span asp-validation-for="StudetntIdNo" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="date" asp-for="StudentDateOfBirth" class="form-control" id="floatingPassword" min="1900-01-01" max="2021-09-18" placeholder="Date Of Birth" required>
                    <label for="floatingPassword" asp-for="StudentDateOfBirth">Date Of Birth</label>
                    <span asp-validation-for="StudentDateOfBirth" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="tel" asp-for="StudentPhoneNo" class="form-control" id="floatingPassword" placeholder="Phone No" required>
                    <label for="floatingPassword" asp-for="StudentPhoneNo">Phone No</label>
                    <span asp-validation-for="StudentPhoneNo" class="field"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentGender" class="form-label mt-4">Gender</label>
                    <select asp-for="StudentGender" class="form-select" id="exampleSelect1">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-floating mb-3 bg-white">
                    <input type="email" class="form-control" id="floatingInput" asp-for="Email" placeholder="name@example.com" required>
                    <label for="floatingInput" asp-for="Email">Email address</label>
                    <span asp-validation-for="Email" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="password" class="form-control" id="floatingPassword" asp-for="Password" placeholder="Password" required>
                    <label for="floatingPassword" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="field"></span>
                </div>
                <div class="form-floating  mb-3">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword" asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="field"></span>
                </div>
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Register</button>
            </div>
        </form>

    </div>
</div>