@model InternetExplores.Models.StudentModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/_AuthLayout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<form class="reg-form" enctype="multipart/form-data" method="post" asp-controller="Student" asp-action="Registration">
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Thank you</strong> You have placed your application successfully. <br />
            Click <a asp-controller="Student" asp-action="Profile" >here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
<div class="form-group">


    <input asp-for="StudentName" hidden />
    <input asp-for="StudentSurname" hidden />
    <input asp-for="StudentIdNo" hidden />
    <input asp-for="StudentDateOfBirth" hidden />
    <input type="tel" asp-for="StudentPhoneNo" hidden />
    <input type="tel" asp-for="StudentGender" hidden />
    <input asp-for="StudentEmail" hidden />

    <input type="tel" asp-for="StudentRiskStatus" hidden />
    <input type="tel" asp-for="StudentNo" hidden />
    <input asp-for="StudentHomeLanguage" hidden />

    <input type="tel" asp-for="Country" hidden />
    <input type="tel" asp-for="RoomID" hidden />
    <input asp-for="ResidenceID" hidden />

    <input type="tel" asp-for="StudentBalance" hidden />
    <input type="tel" asp-for="FinancialName" hidden />
    <input asp-for="AwardedAmount" hidden />
    <input asp-for="Applicationcomment" hidden />
    <input asp-for="StudentFinincialStatus" hidden />
    <!--Home_Address-->
    <div class="form-floating  mb-3">
        <input type="text" asp-for="StreetName" class="form-control" id="floatingPassword" placeholder="Name" required>
        <label for="floatingPassword" asp-for="StreetName">Street name</label>
        <span asp-validation-for="StreetName" class="field"></span>
    </div>
    <div class='form-floating  mb-3'>
        <input type="text" asp-for="Province" class="form-control" id="floatingPassword" placeholder="Name" required>
        <label for="floatingPassword" asp-for="Province">Province</label>
        <span asp-validation-for="Province" class="field"></span>
    </div>
    <div class="form-floating  mb-3">
        <input type="text" asp-for="City" class="form-control" id="floatingPassword" placeholder="Name" required>
        <label for="floatingPassword" asp-for="City">City</label>
        <span asp-validation-for="City" class="field"></span>
    </div>
    <div class="form-floating  mb-3">
        <input type="text" asp-for="PostalCode" class="form-control" id="floatingPassword" placeholder="Name" required>
        <label for="floatingPassword" asp-for="PostalCode">Postal code</label>
        <span asp-validation-for="PostalCode" class="field"></span>
    </div>
    <!--Academic details-->

    <div class="form-group">
        <label class="form-label mt-4 text-black">Level of Study</label>
        <select asp-for="StudentlevelOfStudy" class="form-select">
            <option value="1"> 1st Year </option>
            <option value="2"> 2nd Year </option>
            <option value="3"> 3rd Year </option>
            <option value="4"> Postgraduate Diplomas </option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label mt-4 text-black">Faculty</label>
        <select asp-for="StudentFaculty" class="form-select">
            <option selected value="Edu"> Education </option>
            <option value="Eng">Engineering </option>
            <option value="HSci"> Health Sciences </option>
            <option value="HumD&SScis"> Humanities, Dev & Social Sciences </option>
            <option value="Law&IT"> Law and Infromation Technology </option>
            <option value="Sci&Agric"> Science and Agriculture </option>
        </select>
    </div>
    <div class="form-group" hidden>
        <label class="form-label mt-4 text-black">Degree</label>
        <select asp-for="StudentFaculty" class="form-select">
            <option selected value="Edu"> Education </option>
            <option value="Eng">Engineering </option>
            <option value="HSci"> Health Sciences </option>
            <option value="HumD&SScis"> Humanities, Dev & Social Sciences </option>
            <option value="Law&IT"> Law and Infromation Technology </option>
            <option value="Sci&Agric"> Science and Agriculture </option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-label mt-4 text-black">Require accommodation</label>
        <select asp-for="StudentNeedAccommodation" class="form-select">
            <option value="Yes"> Yes </option>
            <option value="No">No </option>
            <option value="Not sure">Not sure </option>
        </select>
    </div>
    <div class="form-group">
        <div class="custom-file">
            <label asp-for="idcopy" for="exampleFormControlFile1">Id copy</label>
            <div>
                <input asp-for="idcopy" type="file" class="form-control-file form-control-lg " id="exampleFormControlFile1">
            </div>
            <span asp-validation-for="idcopy" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-file">
            <label asp-for="matricResult" for="exampleFormControlFile1">Results(Matric/ Highest level of study)</label>
            <div>
                <input asp-for="matricResult" type="file" class="form-control-file form-control-lg " id="exampleFormControlFile1">
            </div>
            <span asp-validation-for="matricResult" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-file">
            <label asp-for="nextofKin" for="exampleFormControlFile1">Next of Kin</label>
            <div>
                <input asp-for="nextofKin" type="file" class="form-control-file form-control-lg " id="exampleFormControlFile1">
            </div>
            <span asp-validation-for="nextofKin" class="text-danger"></span>
        </div>
    </div>


    <!--Supporting Documents-->
    <label class="form-label mt-4 text-black">Financial support</label>
    <div class="form-group">
        <label class="form-label mt-4 text-black">Do you have financial support</label>
        <select asp-for="StudentFinincialStatus" class="form-select">
            <option value="Yes"> Yes </option>
            <option value="No">No </option>
        </select>
    </div>
    <div class="form-group">
        <div class="custom-file">
            <label asp-for="financialProof" for="exampleFormControlFile1">financial proof (is selected YES above)</label>
            <div>
                <input asp-for="financialProof" type="file" class="form-control-file form-control-lg " id="exampleFormControlFile1">
            </div>
            <span asp-validation-for="financialProof" class="text-danger"></span>
        </div>
    </div>

    <br />
    <input type="submit" value="Send request" class="btn btn-primary justify-content-md-center" />
</div>
</form>



